container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: restaurant_picker.settings
    LOG_LEVEL: INFO
    DJANGO_LOG_FILE_PATH: /tmp/django-app.log
  aws:elasticbeanstalk:container:python:
    WSGIPath: restaurant_picker.wsgi:application


commands:
  install_postgres_driver:
    command: "yum install -y postgresql-devel"
