container_commands:
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
  02_create_qa_fixtures:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py shell < ./generate_qa_fixtures.py"
  03_load_fixtures:
    command: "source /var/app/venv/*/bin/activate && python manage.py loaddata setup_qa"
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: restaurant_picker.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: restaurant_picker.wsgi:application
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: restaurant-picker-ec2-role
commands:
  install_postgres_driver:
    command: "yum install -y postgresql-devel"
