option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "restaurant_picker.prod"
    RDS_DB_NAME: "restaurant_picker_pg"
    RDS_USERNAME: "ebroot"
    RDS_PASSWORD: "to_be_replaced"
    RDS_HOSTNAME: "awseb-e-qf3psnsiq5-stack-awsebrdsdatabase-kamga12uoi2b.cb97v4rk37cg.us-east-2.rds.amazonaws.com"
    RDS_PORT: 5432
  aws:elasticbeanstalk:container:python:
    WSGIPath: restaurant_picker.wsgi:application


commands:
  install_postgres_driver:
    command: "yum install -y postgresql-devel"
  collect_static_files:
    command: "python manage.py collectstatic --noinput"
    cwd: /var/app/current
  migrate:
    command: "python manage.py migrate"
    cwd: /var/app/current
