<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Where will we eat today? {% endblock %}</title>
    <!-- Add your common CSS and JavaScript imports here -->
    <link href="{% static 'styles.css' %}" rel="stylesheet">
</head>
  <nav>
        <ul>
            <li><a href="/picker/">Home</a></li>
            <li><a href="/picker/restaurants/">Restaurant List</a></li>
            <li><a href="/picker/choose-for-me/">Where to Eat?</a></li>
        </ul>
    </nav>
{% block content %}
<div class="container">

<h1> What is Where will we Eat today? </h1>
<p>Where will we Eat today? is a web app that helps you decide where to eat. It is a simple app that will randomly choose a restaurant for you to eat at. </p>

    <div class="container">

    <h3>Feeling Decisive?</h3>
    <p>To see a list of all the restaurants to visit just click the 'restaurants' link in the nav.</p>
    <h3>Don't want to make a decision?</h3>
    <p>navigate to `Where to Eat?` and click the button for us to choose for you!</p>

    </div>
</div>
{% endblock %}